@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

$montserrat: 'Montserrat', 'sans-serif';
$noto_sans: 'Noto Sans', 'sans-serif';
$open_sans: 'Open Sans', 'sans-serif';