
.header {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 116px;
    height: 100%;
    width: 100%;
    transition: max-height .4s linear;
    background-color: #fff;
    z-index: 2;
    @include _1200 {
        & {
            max-height: calcFluid(46, 116, 320, 1200);
        }
        &.open-menu {
            max-height: 100%;
        }
        &::before {
            height: calcFluid(46, 116, 320, 1200);
            z-index: 3;
        }
    }

    & > .container {
        @include _1200 {
            height: calcFluid(46, 116, 320, 1200);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__content {
        height: 116px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: top .4s linear;

        @include _1200 {
            position: absolute;
            top: -1000px;
            height: 100%;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            &.active {
                position: fixed;
                top: 0;
                width: 100%;
                height: 100%;
                padding: calcFluid(50, 110, 320, 1200) 0 0 20px;
                overflow: auto;
            }
        }

    }


    &__logo {
        z-index: 3;
        & svg {
            width: 220px;
            height: 55px;
            @include _1200 {
                width: calcFluid(105, 220, 320, 1200);
                height: calcFluid(26, 55, 320, 1200);
            }
        }
    }

    &__burger {
        position: relative;
        width: 26px;
        height: 18px;
        display: none;
        z-index: 3;

        &.active {
            &::before {
                transform: rotate(45deg);
                top: 50%;
            }
            &::after {
                transform: rotate(-45deg);
                top: 50%;
            }
            & > span {
                display: none;
            }
        }
        & > span {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 2px;
            width: 100%;
            background-color: #000;
        }

        &::before, &::after {
            content: "";
            position: absolute;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #000;
            transition: transform .3s ease 0s;

        }

        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }

        @include _1200 {

            display: block;

        }
    }

    &__menu {
        z-index: 1;
    }

    &__list {
       display: flex;
        @include _1200 {
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    &__item {
        font-family: $montserrat;
        font-size: 20px;
        line-height: 24px;

        &:not(:last-child) {
            margin-right: 44px;
            @include _1310 {
                margin-right: calcFluid(10, 44, 1100, 1280);
            }
        }
        &:hover {
            text-decoration: underline;
        }

        @include _1200 {
            & {
                padding: 5px 0 5px 0;
            }
        }
    }

    &__link {
        color: $color-text;
    }

}

.city {
    display: flex;
    flex-direction: column;
    //@include _1200 {
    //    width: 95%;
    //    border-top: 1px solid $color-text;
    //}
    &__svg {
        width: 12px;
        height: 17px;
    }
    &-all {
        &:hover {
            text-decoration: underline;
        }
    }

}

.call {
    display: flex;
    flex-direction: column;
    &__svg {
        width: 17px;
        height: 17px;
    }
    &-order {
        text-decoration: underline;
    }
}

.header__info {
    position: relative;
    &-svg {
        position: absolute;
        top: 4px;
        left: -20px;
    }
    &-title {
        font-family: $montserrat;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $color-text;
    }
    &-link {
        font-family: $montserrat;
        font-size: 14px;
        line-height: 17px;
        color: $green;
    }

    @include _1200 {
        margin-bottom: 10px;
    }
}