body.lock {
    overflow: hidden;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 2;

    opacity: 0;
    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &-close {
        position: absolute;
        right: 14px;
        top: 19px;
        display: block;
        width: 15px;
        height: 15px;
        &::before, &::after {
            content: "";
            position: absolute;
            right: -2px;
            top: 48%;
            width: 18px;
            height: 3px;
            background-color: #9b9b9b;
            border-radius: 3px;
            transition: background-color .2s linear;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }

        &:hover {
            &::before, &::after {
                background-color: $color-text;
            }
        }
    }
    &__body {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    &__content {
        position: relative;
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    &__title {
        margin-bottom: 20px;
        text-align: center;
        @include font-text-title($min-fz: 19);
    }

    &__list {
        width: 100%;
        max-height: 292px;
        display: flex;
        flex-direction: column;
        padding: 0 30px;

    }

    &__link {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        @include font-main-text($color: #333, $min-fz: 15);
        transition: color .2s linear;
        &:hover {
            color: $color-text;
        }
    }
}

#modal-phone {
    .modal__content {
        max-height: 430px;
    }
}

@media (max-width: 768px) {
    .modal {
        &__content {
            max-width: calcFluid(270, 400, 320, 768);
        }
        &__list {
            padding: 0 0 0 calcFluid(15, 30, 320, 768);
        }
    }
}