
.video {
	position: relative;
	height: 0;
	padding-bottom: 57.50%;

	&__media {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: none;
		cursor: pointer;
		object-fit: cover;
	}

	&__button {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 141px;
		height: 141px;
		transform: translate(-50%, -50%);
		cursor: pointer;
		@include _1200 {
			width: calcFluid(110, 141, 768, 1200);
			height: calcFluid(110, 141, 768, 1200);
		}
		@include _768 {
		    display: none;
		}
	}
}